* {
   margin: 0px;
   padding: 0px;
}

#wrapper{
     display: flex;
     background-color:#4E3D63;
     position: sticky;
     top: 0px;
     z-index: 9;
}
#discord{
  text-decoration:none
  margin:0;
  font-size: 40px;
  color: #CFB9F3;
}
  #banner{
        margin:0;
        font-size: 40px;
        font-family: Arial,
        Helvetica, sans-serif;
      /*  background: linear-gradient(90deg, rgba(19,5,20,1) 0%, rgba(113,0,128,1) 29%, rgba(217,175,235,1) 66%, rgba(77,24,79,1) 100%);*/
        background-color: #CFB9F3;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        display: inline-block;
        margin-right:200px;
}

#dropdownbtn {
background-color:transparent;
color: #CFB9F3;
font-size: 40px;
border: none;
background: none;
display: inline-block;
margin-right:500px;
}

.dropdowndemo{

display: inline-block;

}

.dropdownlist-content {
display: none;
position: absolute;
background-color: #3A314C;
min-width: 120px;

}
.dropdownlist-content a {
color:#f4c0fc;
padding: 5px 18px;
display: block;
text-decoration:none
}

.dropdownlist-content a:hover {background-color: #3A314C; color:#e96afc;}
.dropdowndemo:hover .dropdownlist-content {display: block;}
.dropdowndemo:hover .dropdownbtn {color:green;}



#dragon {
    background-image: url(Media/Egg.gif);
    background-size: cover;
    background-position: center 0px;
    height: 900px;

}

#about{
  position: relative;
  font-size: 40px;
  top: 200px;
  left: 40;
  width: 200px;
  height: 50px;
  border: 3px solid #CFB9F3;
  text-align: center;
color:white
}
#about:hover {
  color:red;
  border:3px solid green;
}

#night{
background-image: url(Media/Night.png);
    background-size: cover;
    background-position: center 0px;
    height: 900px;
}


#netinfo{
font-size:20px;
position: relative;
  color:white;

}

#safari{
  position: relative;
  font-size: 60px;

background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(100,100,100,1) 24%, rgba(255,255,255,1) 31%, rgba(100,100,100,1) 60%, rgba(255,255,255,1) 87%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}


#safari:hover {

background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(207, 185, 243,1) 24%, rgba(255,255,255,1) 31%, rgba(207, 185, 243,1) 60%, rgba(255,255,255,1) 87%);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

#mcmmoinfo{
font-size:20px;
position: relative;
  color:white;

}

#mcmmo{
  position: relative;
  font-size: 60px;

background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255, 218, 117,1) 24%, rgba(255,255,255,1) 31%, rgba(255, 218, 117,1) 60%, rgba(255,255,255,1) 87%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
#mcmmo:hover {

background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(168, 115, 255,1) 24%, rgba(255,255,255,1) 31%, rgba(168, 115, 255,1) 60%, rgba(255,255,255,1) 87%);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}


#jail{
background-image: url(Media/Jail.png);
    background-size: cover;
    background-position: center 0px;
    height: 900px;
}

#footer {
text-align: center;
background-color:#3A314C;
font-size: 40px;
color:white;
height:50px;
}


.break{
 background-color:#3A314C;
 text-align: center;
 font-size:40px;
 color:white;
 padding: 30px 0;
}

.rounded {
    position:relative;
    display: table;
    font-size:20px;
    background-color:#3A314C;
    color:#FFC0CB;
    border-radius: 10px;
 padding:10px;

}
